DATABASE_URL="postgresql://neondb_owner:npg_K2NoD4MprUVL@ep-flat-recipe-ayh3q6wt-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="change-me"
VITE_API_URL="/api"

# Vercel envs
# DATABASE_URL=postgresql://neondb_owner:npg_K2NoD4MprUVL@ep-flat-recipe-ayh3q6wt-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
# JWT_SECRET=your-secret
# VITE_API_URL=/api
